body{
    background-image: url(https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?w=2000);
    background-repeat: no-repeat;
    background-size:3940px 1760px;
    display:flex;
    flex-wrap: wrap;
}
#body{
    padding:10px;
    border-style:groove;
    border-color:greenyellow;
    border-width: 10px;
    margin: 0px;
    display:flex;
    flex-wrap: wrap;
}
.home{
    text-align:center;
    overflow:text;
    padding: 20px 15px 5px 10px;
    border-style:solid; border-color: red;
    margin: -174px 500px 0px 236px;
    background-color:black;
    color: antiquewhite;
    border-radius: 30px 30px 30px 30px;
    border-width:6px;
    font-style:italic;
    display:flex;
    flex-wrap: wrap;
}
.welcome{
    text-align:center;
    padding: 20px 80px 50px 15px;
    border-style:solid; border-color: red;
    margin: 40px 820px 10px 40px;
    background-color: black;
    color: antiquewhite;
    border-radius: 30px 30px 30px 30px;
    border-width:6px;
    font-style:italic;
    display:flex;
    flex-wrap: wrap;
}
.email{
    text-align:center;
    padding: 20px 40px 5px 40px;
    border-style:solid; border-color: red;
    margin: -165px 35px 0px 840px;
    background-color: black;
    color: antiquewhite;
    border-radius: 30px 30px 30px 30px;
    border-width:6px;
    font-style:italic;
    display:flex;
    flex-wrap: wrap;
}
h4{
    text-align:center;
    padding:55px 15px 60px 15px;
    margin:300px 835px 90px 70px ;
    background-color:rgb(16, 150, 150);
    color: black;
    border: 10px solid gray;
    border-radius:180px;
    border-width:7px;
    text-decoration: underline;
    font-style: italic;
    
}
.center{
    text-align: center;
}
.hr{
    color:whitesmoke;
}
.form{
    text-align: center;
    padding: 5px 0px 10px 0px;
    border-style:dashed;
    margin: -545px 290px 0px 540px;
    background-color:white;
    color:rgb(226, 128, 166);
    border-color: red;
    border-width: 4px;
}  
.menu{
    text-align:center;
    padding: 20px 0px 20px 0px;
    border-style:solid; border-color: red;
    margin:10px 430px 15px 430px;
    background-color: black;
    color: antiquewhite;
    border-radius: 30px 30px 30px 30px;
    border-width:7px;
    font-style:italic;
}
.starter{
    padding: 0px 10px 0px 0px;
    margin: 10px 0px 0px 16px;
    background-color:aqua;
    color:rgb(17, 17, 146);
    font-weight:bold;
    font-size:xx-large;
}

.starter1{
    padding: 15px 15px 5px 20px;
    margin: 1px 40px -5px 30px;
    background-color:aqua;
    color:rgb(17, 17, 146);
    font-weight:bold;
    font-size:xx-large;
}
.disc {
    display:flex;
    flex-wrap: wrap;
}
.a{
     text-align: center;
    padding: 10px 1px 5px 30px;
    border-style:solid; border-color:green;
    margin:50px 865px 10px 50px;
    background-color:aqua;
    color:rgb(17, 17, 146);
    border-radius: 30px 30px 30px 30px;
    border-width:4px;
}
.b{
     text-align: center;
    padding: 10px 1px 5px 30px;
    border-style:solid; border-color:green;
    margin:-250px 450px 10px 445px;
    background-color:aqua;
    color:rgb(17, 17, 146);
    border-radius: 30px 30px 30px 30px;
    border-width:4px;
}
.c{
     text-align: center;
    padding: 10px 1px 5px 30px;
    border-style:solid; border-color:green;
    margin:-250px 50px 10px 860px;
    background-color:aqua;
    color:rgb(17, 17, 146);
    border-radius: 30px 30px 30px 30px;
    border-width:4px;
}
.d{
     text-align: center;
    padding: 10px 1px 5px 30px;
    border-style:solid; border-color:green;
    margin:50px 865px 10px 50px;
    background-color:aqua;
    color:rgb(17, 17, 146);
    border-radius: 30px 30px 30px 30px;
    border-width:4px;
}
.e{
     text-align: center;
    padding: 10px 1px 5px 30px;
    border-style:solid; border-color:green;
    margin:-250px 450px 10px 445px;
    background-color:aqua;
    color:rgb(17, 17, 146);
    border-radius: 30px 30px 30px 30px;
    border-width:4px;
}
.f{
     text-align: center;
    padding: 10px 1px 5px 30px;
    border-style:solid; border-color:green;
    margin:-250px 50px 90px 860px;
    background-color:aqua;
    color:rgb(17, 17, 146);
    border-radius: 30px 30px 30px 30px;
    border-width:4px;
}
