*{
    margin: 0;
}
.first-border{
    height: 20px;
    width: 100vw;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    background-image: linear-gradient(90deg ,red 10%, green 40% ,yellow 100% )
}
.second-border{
    height: 70px;
    border: 5px solid red;
    border-radius: 20px;
    background-color: skyblue;
    margin: 20px 280px 20px 280px;
    display: flex;
    flex-wrap: wrap;
}
.list{
    position: relative;
    left: 265px;
    bottom: 2px;
}
.flex-container{ 
    width:1240px ;
    height: 128px;
    border: 2px solid red;
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    background-color: aquamarine;
    display: flex;
    flex-flow: row nowrap;
}
.flex{
    width: 360px;
    height: 60px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: aqua;
    font-size: smaller;
    font-weight: 700;
    text-align: center;
}
.child2{
    position: relative;
    bottom: 64px;
    left: 425px;
}
.child3{
    position: relative;
    bottom: 64px;
    left: 425px;
}
.child4{
    position: relative;
    bottom: 192px;
    left: 860px;
}
.ashika{
    height: 20px;
    width: 100vw;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    margin: 20px 0px;
    text-decoration: underline red;
    background-image: linear-gradient(90deg ,red 0% 20%,yellow 40% 60%,red 100% )
}
.ashika1{
    position: relative;
    bottom: 10px;
}
.parent{
    width: 1200px;
    height: 120px;
    border: 2px solid green;
    background-image: radial-gradient(rgb(68, 102, 196) 50% , rgb(102, 219, 102) 100%);
    padding: 50px 40px 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ch1,.ch2,.ch3,.ch4{
    width: 160px;
    height: 100px;
    border: 2px solid red;
    border-radius: 10px;
    color: brown;
    text-align: center;
    text-decoration: underline;
    background-color: yellow;
}
.container{
    width: 1255px;
    height: 304px;
    border: 0.5px solid black;
    display: grid;
    grid-gap: 9px;
    grid-template-columns: repeat(4, auto);
    margin-top: 20px;
}
.baby1{
    width: 1255px;
    height: 30px;
    text-align: center;
    font-size:larger;
    font-weight:bold ;
    color: white;
    background-color: red;
    grid-column: 1/6;
}
.baby2{
    color: white;
    background-color: lightgreen;
    font-size: x-large;
    text-align: center;
    margin-bottom: 170px;
    margin-top:0px;
}
.baby3{
    color: white;
    background-color: skyblue;
    font-size: x-large;
    margin-bottom: 170px;
}
.baby4{
    color: white;
    background-color: blue;
    font-size: x-large;
    margin-bottom: 170px;
}
.baby5{
    color: white;
    background-color: black;
    font-size:larger;
    grid-row: 2/6;
    grid-column: 4/6;
    margin-bottom: 170px;
}
.baby6{
    color: white;
    background-color: orange;
    font-size: larger;
    grid-column: 1/4;
    grid-row: 3/6;
    position: relative;
    bottom: 168px;
}
.baby7{
    width: 1255px;
    height: 20px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: aqua;
    grid-column: 1/6;
    position: relative;
    bottom: 165px;
}
