.heading{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
.h1{
    background-color: orange;
}
.h2{
    background-color: white;
}
.h3{
    background-color: green;
}
.container{
    width: 98%;
    height: 99vh;
    border: 15px solid white;
    border-left-color: orange;
    border-right-color: green;
    border-bottom: 0px;
    background-image: url(./sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.road{
    height: 200px;
    width: 500%;
    display: block;
    background-image: url(./road.jpg);
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation:road 10s linear infinite;
}
@keyframes road{
    100%{
        transform: translateX(-3000px);
    }
}
.city{
    height: 250px;
    width: 500%;
    display: block;
    background-image: url(./city.png);
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 200px;
    z-index: 1;
    animation: city 30s linear infinite;
}
@keyframes city{
    100%{
        transform: translateX(-1500px);
    }
}
.car{
    width: 400px;
    left: 412px;
    bottom: 100px;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
    animation: carbump 2s linear infinite ;
}
.car img{
    width: 100%;
}
@keyframes carbump{
    100%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-2px);
    }
}
.wheel{
    left: 50%;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    
}
.wheel img{
    width: 72px;
    height: 72px;
    animation: wheel 2s linear infinite;
}
.front-wheel{
    left: -165px;
    position: absolute;
}
.back-wheel{
    left: 80px;
    position: absolute;
}
@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }
}
.flag{
    left: 50%;
    bottom: 205px;
    right: 20px;
    filter: blur(1px);
    transform: translateX(20%);
    position: absolute;
    z-index: 2;
    
}
.flag img{
    width: 72px;
    height: 72px;
}
.sun{
    top: 70px;
    transform: translateX(990px);
    position: absolute;
    z-index: 2;
}
.sun img{
    width: 72px;
    height: 72px;
}